@import defaults.sass

body
  font-family: helvetica

#banner
  font-size: 4em
  font-weight: bold
  text-align: center
  margin-bottom: 30px
  text-shadow: black 1px 1px 1px
  a
    color: red
  a:hover
    text-decoration: none
