.movie
  text-align: center
  border: 1px solid black
  padding: 2mm
  font-weight: bold
  background: beige
  width: 50%
  margin: auto
  white-space: normal
  .title
    font-size: 2em
    text-shadow: white 0px 1px 0px

#is, #better, #worse, #than
  font-size: 1.5em

#is, #better_worse, #than
  vertical-align: middle
  margin: 3mm
  text-align: center

#better, #worse
  color: white

#better
  background: green

#worse
  background: red

table#rankings
  th
    text-align: right
    padding-right: 2mm
