- jquery
- more_javascripts('new_ranking')

#movie_to_rank{:value => @movie.id}= render @movie

#is is

= link_to 'better', '#', :id => 'better'
= link_to 'worse', '#', :id => 'worse'

#than than

#movie_to_compare
  .title
  .year
