- jquery
- more_javascripts('new_ranking')

= render_movie(@movie, :id => 'movie_to_rank', :value => @movie.id)

#is is

#better_worse
  #better= 'better'
  #worse= 'worse'

#than than

= render_movie(Movie.new, :id => 'movie_to_compare')
