- more_javascript('new_ranking', :tag_id => @tag)

= render_movie(@movie, :id => 'movie_to_rank', :movie_id => @movie.id, :tag_id => @tag.try(:id))

#is is

#better_worse
  %button#better= 'better'
  %br
  %button#worse= 'worse'

#than than

= render_movie(Movie.new, :id => 'movie_to_compare')
