= render :partial => 'movies/search_form'

- if @movies
  - @movies.each do |movie|
    - content = h(movie.title)
    - content += " (#{movie.year})" if movie.year
    = link_to_create_or_show_movie content, movie
    %br
