.movie {
  text-align: center;
  margin-bottom: 30px; }
  .movie .title {
    font-size: 2em;
    font-weight: bold; }

button#add {
  color: white;
  background: green; }

#ranking_overall {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 120%; }

table#tags caption {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 1mm; }
table#tags th, table#tags td {
  border: 1px solid black;
  padding: 1mm; }

#add_tags {
  text-align: center;
  margin-top: 20px; }
